/**index.wxss**/
Page {
  background-color: #fcfcfc;
}

view, text, scroll-view, swiper, button, form, input, textarea, label, navigator, image {
  box-sizing: border-box;
}
switch, checkbox, radio {
  position: relative;
}

.all {
  border-top: 1rpx solid rgb(200, 200, 200);
}

.head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 35rpx 30rpx;
}

.total text{
  font-size: 50rpx;
  /* color: rgb(200, 40, 40);   */
  /* 0-50 */
  /* color: rgb(250, 246, 40);  */
  /* 50-60*/
  /* color: rgb(40, 250, 40);   */
}

/**性别**/
.sex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sex switch {
  margin-left: 10rpx;
  overflow: hidden;
  border-radius: 20px;
}


/*年级*/
.grade {
  display: flex;
  justify-content: space-evenly;
  padding: 20rpx;
  background-color: whitesmoke;
  border-top: 1rpx solid rgb(200, 200, 200);
}
.grade button{
  padding: 15rpx 0;
  margin: 20rpx;
  width: 150rpx !important;
}
button {
  line-height: 2;
  font-size: 16px;
  margin: 5rpx;
}
.garde1 {
  background-color: white;
}
.garde2 {
  background-color: rgb(60, 200, 60);
  color: white;
}

/* 块 */
.block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 35rpx 30rpx;
  border-top: 1rpx solid rgb(200, 200, 200);
}
.block_label{  
  width: 30%;
}
.block_middle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 45%;
}
.block_middle_input{
  color: rgb(100, 100, 100);
  height: 50rpx;
  width: 35%;
  border-bottom: 1rpx solid rgb(200, 200, 200);
  text-align: center;
} 
.unit{
  color: gray;
  font-size: 14px;
  padding-left: 10rpx;
  width: 15%;
  text-align: center;
}
.score {
  width: 25%;
  height: 100%;
  font-size: 15px;
  text-align: end;
  color: rgb(0, 200, 0);
}

/* 最后 */
.last {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;    
  border-top: 1rpx solid rgb(200, 200, 200);
  height: 100rpx;
}
.last_navigator{
  font-size: 300;
  border: rgb(216, 216, 216) 1rpx solid;
  border-radius: 50rpx;
  padding: 10rpx 50rpx;
}
/* .last_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  font-size: 20rpx
}
.last_right{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #aaa;
}
.last_right image{
  width: 100rpx;
  height: 100rpx;
  margin: 20rpx;
  border-radius: 50%;
} */
